@import "variables.scss";
.about {
  &_main-title {
    font-size: $main-header;
    text-transform: capitalize;
    font-family: Quicksand;
  }
  &_description {
    font-size: $sub-header;
    font-family: Quicksand;
  }
  &_image_container {
    position: relative;
    margin-top: 3.6em;
    &_image {
      filter: brightness(50%);
    }
    &_testimonial {
      position: absolute;
      top: 0;
      margin: 10px;

      &_description {
        font-size: $sub-header;
        font-family: Quicksand;
      }
    }
  }
  @media (max-width: 600px) {
    padding: 0.75em !important;
    &_main-title {
      font-size: $res-main-header;
    }
    &_description {
      font-size: $res-sub-header;
    }
    &_image_container {
      margin-top: 0;
      &_testimonial {
        &_description {
          font-size: $res-sub-header;
        }
      }
    }
  }
}
