@import "variables.scss";

.contact {
  padding: 2em;

  &_image {
    margin-top: 10%;
  }
  &_main-title {
    font-size: $main-header;
    font-family: Quicksand;
  }

  &_phone-title,
  &_phone-value,
  &_social {
    font-size: $middle-header;
    font-family: Quicksand;
    font-weight: bold;
    display: block;
  }

  &_social-value {
    font-size: $sub-header;
    font-family: Quicksand;
  }

  &_phone-value,
  &_social-value {
    font-weight: normal;
  }

  @media (max-width: 600px) {
    padding: 1em;
    &_main-title {
      font-size: $res-main-header;
    }
    &_phone-title,
    &_phone-value,
    &_social {
      font-size: $res-middle-header;
    }
    &_image {
      height: 50vh;
      transform: none;
    }
  }
}
