@import "variables.scss";

.contact {
  @extend .animation-entry;
  &_image {
    margin-top: 2.2%;
  }
  &_main-title {
    font-size: $main-header;
    font-family: poppins;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 0.4em;
    @extend .main_title_underlined;
  }

  &_phone-value {
    letter-spacing: 2px;
  }

  &_phone-title,
  &_phone-value,
  &_social {
    font-size: $sub-header;
    font-family: poppins;
    font-weight: bold;
    display: block;
  }

  &_social-value {
    font-size: $sub-header;
    font-family: poppins;
  }

  &_phone-value,
  &_social-value {
    font-weight: normal;
  }

  @media (max-width: 600px) {
    padding: 0.75em !important;
    &_main-title {
      font-size: $res-main-header;
    }
    &_phone-title,
    &_phone-value,
    &_social,
    &_social-value {
      font-size: $res-middle-header;
    }
    &_image {
      height: 50vh;
      transform: none;
    }
    &_phone-value {
      border-bottom: 1px solid #1677ff;
      letter-spacing: 1px;
    }
  }
}
