.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Quicksand;
  padding-top: 10px;
  a {
    padding-left: 10px;
    vertical-align: middle;
    &.practo {
      position: relative;
      top: -1px;
    }
  }
  span {
    padding-right: 0;
  }
}

.copyright {
  text-align: center;
  vertical-align: middle;
  line-height: 10px;
  font-family: Quicksand;
}
