@import "./header.scss";
@import "./home.scss";
@import "./about.scss";
@import "./footer.scss";
@import "./services.scss";
@import "./contact.scss";
@import "./mixin.scss";

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: content-box;
}

.pl-4 {
  padding-left: 4px;
}

.pl-6 {
  padding-left: 6px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-2 {
  padding-left: 2px;
}

#footer,
#header-el {
  margin-right: -16px;
}
