$geek-blue-4: #85a5ff;

#header {
  position: sticky;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
  box-sizing: content-box;
}

.logo {
  float: left;
  color: $geek-blue-4;
  letter-spacing: 4px;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  right: 2%;
  font-family: Quicksand;
}

.mobile-menu {
  display: none;
  background-color: red;
  font-family: Quicksand;
}

.menu-item {
  font-family: Quicksand;
}

@media (max-width: 600px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .menu-button {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 16px;
    font-size: 18px;
    color: $geek-blue-4;
  }
}

.active {
  background: $geek-blue-4 !important;
  border-bottom: 1px solid #030852;
  &:hover {
    background: $geek-blue-4 !important;
  }
}

.ant-menu-item-selected {
  background: none !important;
}
