@import "variables.scss";

$geek-blue-4: #85a5ff;

#header-el {
  .ant-menu-title-content {
    font-size: $sub-header;
  }
}

.logo {
  float: left;
  color: $geek-blue-4;
  letter-spacing: 4px;
  cursor: pointer;
  font-size: $middle-header;
  position: relative;
  right: 2%;
  font-family: Quicksand;
}

.mobile-menu {
  display: none;
  background-color: red;
  font-family: Quicksand;
  .ant-btn-icon {
    position: relative;
    top: -3px;
  }
}

.menu-item {
  font-family: Quicksand;
}

@media (max-width: 600px) {
  .logo {
    font-size: $res-middle-header;
  }
  #header-el {
    .ant-menu-title-content {
      font-size: $res-sub-header;
    }
  }
  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .menu-button {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 16px;
    font-size: 18px;
    color: $geek-blue-4;
  }
}

.active {
  background: $geek-blue-4 !important;
  border-bottom: 1px solid #030852;
  &:hover {
    background: $geek-blue-4 !important;
  }
}

.ant-menu-item-selected {
  background: none !important;
}
