.home {
  padding: 2em;
  &_main-title {
    font-size: 42px !important;
    font-family: Quicksand;
  }

  &_sub-title {
    font-size: 36px !important;
    text-transform: capitalize;
    font-family: Quicksand;
  }

  &_description {
    font-size: 24px !important;
    font-family: Quicksand;
  }

  @media (max-width: 600px) {
    &_main-title {
      font-size: 22px !important;
    }
    &_sub-title {
      font-size: 18px !important;
    }
    &_description {
      font-size: 14px !important;
    }
    // &_image {
    //   height: 50%;
    // }
  }
}
