@import "variables.scss";

.home {
  padding: 2em;
  .ant-image {
    float: left;
    padding-right: 1em;
  }
  &_main-title {
    font-size: $main-header;
    font-family: Quicksand;
  }

  &_sub-title {
    font-size: $middle-header;
    text-transform: capitalize;
    font-family: Quicksand;
  }

  &_description {
    font-size: $sub-header;
    font-family: Quicksand;
  }

  @media (max-width: 600px) {
    padding: 1em;
    &_main-title {
      font-size: $res-main-header;
    }
    &_sub-title {
      font-size: $res-middle-header;
    }
    &_description {
      font-size: $res-sub-header;
    }
    // &_image {
    //   height: 50%;
    // }
  }
}
