@import "variables.scss";

.home {
  @extend .animation-entry;
  .ant-image {
    float: left;
    padding-right: 1em;
    width: 19%;
  }
  &_main-title {
    font-size: $middle-header;
    font-family: poppins;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: #1d39c4 !important;
  }

  &_sub-title {
    font-size: $middle-header;
    text-transform: capitalize;
    font-family: poppins;
    font-weight: 500;
    @extend .main_title_underlined;
  }

  &_description {
    font-size: $sub-header;
    font-family: poppins;
  }

  @media (max-width: 600px) {
    padding: 0.75em !important;
    &_main-title {
      font-size: $res-main-header;
    }
    &_sub-title {
      font-size: $res-middle-header;
    }
    &_description {
      font-size: $res-middle-header;
    }
    .ant-image {
      width: 40% !important;
      padding-right: 1em;
      width: 20%;
    }
  }
}
