.services {
  padding: 2em;
  .ant-list-split .ant-list-item {
    position: relative;
    right: 17px;
    font-family: Quicksand;
  }
  &_main-title {
    font-size: 42px !important;
    font-family: Quicksand;
  }

  .ant-list {
    .ant-list-item {
      .ant-list-item-meta {
        .ant-list-item-meta-title {
          font-size: 18px !important;
        }
        .ant-list-item-meta-description {
          font-size: 18px !important;
        }
      }
    }
  }

  @media (max-width: 600px) {
    &_image {
      height: 50% !important;
    }
    &_main-title {
      font-size: 22px !important;
    }
    &_sub-title {
      font-size: 18px !important;
    }
    &_description {
      font-size: 14px !important;
    }
    .ant-list {
      .ant-list-item {
        .ant-list-item-meta {
          .ant-list-item-meta-title {
            font-size: 14px !important;
          }
          .ant-list-item-meta-description {
            font-size: 14px !important;
          }
        }
      }
    }
  }
}
