@import "variables.scss";

.services {
  @extend .animation-entry;
  .ant-list-split .ant-list-item {
    position: relative;
    right: 17px;
    font-family: poppins;
  }
  &_main-title {
    font-size: $main-header;
    font-family: poppins;
    font-weight: 500;
    @extend .main_title_underlined;
  }

  .ant-list {
    .ant-list-item {
      .ant-list-item-meta {
        .ant-list-item-meta-title {
          font-size: $sub-header;
          text-transform: capitalize;
          border-bottom: 1.5px solid #10239e;
          letter-spacing: 2px;
        }
        .ant-list-item-meta-description {
          font-size: $sub-header;
        }
      }
    }
  }

  @media (max-width: 600px) {
    padding: 0.75em !important;

    &_image {
      height: 50% !important;
    }
    &_main-title {
      font-size: $res-main-header;
    }
    &_sub-title {
      font-size: $res-middle-header;
    }
    &_description {
      font-size: $res-sub-header;
    }
    .ant-list {
      .ant-list-item {
        .ant-list-item-meta {
          .ant-list-item-meta-title {
            font-size: $res-middle-header;
          }
          .ant-list-item-meta-description {
            font-size: $res-middle-header;
          }
        }
      }
    }
  }
}
