@import "variables.scss";

.services {
  padding: 2em;
  .ant-list-split .ant-list-item {
    position: relative;
    right: 17px;
    font-family: Quicksand;
  }
  &_main-title {
    font-size: $main-header;
    font-family: Quicksand;
  }

  .ant-list {
    .ant-list-item {
      .ant-list-item-meta {
        .ant-list-item-meta-title {
          font-size: $sub-header;
          text-transform: capitalize;
        }
        .ant-list-item-meta-description {
          font-size: $sub-header;
        }
      }
    }
  }

  @media (max-width: 600px) {
    padding: 1em;
    &_image {
      height: 50% !important;
    }
    &_main-title {
      font-size: $res-main-header;
    }
    &_sub-title {
      font-size: $res-middle-header;
    }
    &_description {
      font-size: $res-sub-header;
    }
    .ant-list {
      .ant-list-item {
        .ant-list-item-meta {
          .ant-list-item-meta-title {
            font-size: $res-sub-header;
          }
          .ant-list-item-meta-description {
            font-size: $res-sub-header;
          }
        }
      }
    }
  }
}
