$main-header: 36px !important;
$middle-header: 28px !important;
$sub-header: 18px !important;

$res-main-header: 22px !important;
$res-middle-header: 14px !important;
$res-sub-header: 12px !important;
