$main-header: 36px !important;
$middle-header: 28px !important;
$sub-header: 18px !important;

$res-main-header: 18px !important;
$res-middle-header: 12px !important;
$res-sub-header: 10px !important;
